<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="HallData.API.ServiceLocation" value="http://api.dev.halldata.local/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="HallData.EMS.WebsiteLocation" value="http://ems.dev.halldata.local/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="HallData.API.ServiceBaseLocation" value="http://api.dev.halldata.local/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="HallData.API.ServiceApiLocation" value="/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>