<!-- begin panel -->
<div class="panel panel-inverse" data-sortable-id="index-2">
	<div class="panel-heading">
		<h4 class="panel-title">Calendar</h4>
	</div>
	<div id="schedule-calendar" class="bootstrap-calendar"></div>
</div>
<!-- end panel -->