@{
	ViewBag.Title = "Add Application View";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
	<link href="~/Content/plugins/DataTables/css/data-table.css" rel="stylesheet"/>
	<link href="~/Content/css/pages/DisplayList.css" rel="stylesheet"/>
}

@section scripts{
	<script type="text/javascript" src="~/Scripts/app/services/applicationview/classes/ApplicationViewService.js"></script>

	<script type="text/javascript" src="~/Scripts/app/applicationview/controllers/ApplicationViewAddController.js"></script>
	<script type="text/javascript" src="~/Scripts/app/applicationview/initializers/ApplicationViewAdd.js"></script>
}

@Html.Partial("_ActiveMenuItem", "ApplicationViews")

<div id="content" class="content">
	<div ng-controller="applicationViewAddController">
		<div class="row m-b-10">
			<div class="col-sm-8">
				<h1 class="page-header">
					<i class="ion-ios-albums m-r-5"></i>
					@ViewBag.Title
				</h1>
			</div>
		</div>
		<div class="panel panel-inverse panel-loading form-horizontal">
			<div class="panel-heading">
				<span class="panel-title">General Information</span>
				<div class="pull-right">
					@Html.Partial("~/Views/Shared/_PanelControls.cshtml")
				</div>
			</div>
			<div id="ApplicationViewMainInfo" class="panel-body" data-validation="name">
				<form name="addApplicationView" ng-submit="vm.add(addApplicationView.$valid)" novalidate>

					<div class="form-group">
						<label for="inputName" class="col-sm-2 control-label">Name *</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputName" name="Name" placeholder="Name (Required)" value="" autofocus ng-model="addApplicationView.Name" ng-maxlength="500" ng-class="{ 'parsley-error': addApplicationView.Name.$dirty && addApplicationView.Name.$invalid||addApplicationView.$submitted && addApplicationView.Name.$invalid}" required>
							<!--validation-->
							<ng-messages for="addApplicationView.Name.$error" class="parsley-errors-list filled parsley-required" role="alert">
								<div ng-include src="'validation'"></div>
							</ng-messages>
						</div>
					</div>

					<div class="form-group">
						<label for="inputDisplayName" class="col-sm-2 control-label">Display Name *</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputDisplayName" name="DisplayName" placeholder="Display Name (Required)" value="" autofocus ng-model="addApplicationView.DisplayName" ng-maxlength="500" ng-class="{ 'parsley-error': addApplicationView.DisplayName.$dirty && addApplicationView.DisplayName.$invalid||addApplicationView.$submitted && addApplicationView.DisplayName.$invalid}" required>
							<!--validation-->
							<ng-messages for="addApplicationView.DisplayName.$error" class="parsley-errors-list filled parsley-required" role="alert">
								<div ng-include src="'validation'"></div>
							</ng-messages>
						</div>
					</div>

					<div class="form-group dark">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="btn-group">
								<button type="submit" class="btn btn-primary btn-flat" ng-disabled="isSaving" data-loading-text="<i class='fa fa-fw fa-spinner fa-spin'></i> Saving...">Add Application View</button>
							</div>
							&nbsp;
							<a href="@Html.Raw(Url.RouteUrl("ApplicationViewsDisplay"))" class="btn btn-default reset">Cancel</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>