@{
	ViewBag.Title = "Update Data View";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
	<link href="~/Content/plugins/DataTables/css/data-table.css" rel="stylesheet"/>
	<link href="~/Content/css/pages/DisplayList.css" rel="stylesheet"/>
}

@section scripts{
	<script type="text/javascript" src="~/Scripts/app/services/dataviews/classes/DataViewService.js"></script>

	<script type="text/javascript" src="~/Scripts/app/dataviews/controllers/DataViewUpdateController.js"></script>
	@*<script type="text/javascript" src="~/Scripts/app/dataviews/directives/formatCode.js"></script>
	<script type="text/javascript" src="~/Scripts/app/dataviews/directives/generateCode.js"></script>*@
	<script type="text/javascript" src="~/Scripts/app/dataviews/initializers/DataViewUpdate.js"></script>
}

<!--validation-->
<script type="text/ng-template" id="validation">
	<ng-message when="minlength">This field is too short</ng-message>
	<ng-message when="maxlength">This field is too long</ng-message>
	<ng-message when="url" class="text-primary">Enter a valid url ex. http://www.halldata.com</ng-message>
	<ng-message when="email">Enter a valid email address ex. my_email@domain.com</ng-message>
</script>

@Html.Partial("_ActiveMenuItem", "DataViews")

<div id="content" class="content">
	<div ng-controller="dataViewUpdateController">
		<div class="row m-b-10">
			<div class="col-sm-8">
				<h1 class="page-header">
					<i class="ion-cube m-r-5"></i>
					@ViewBag.Title
				</h1>
			</div>
		</div>
		<div class="panel panel-inverse panel-loading form-horizontal">
			<div class="panel-heading">
				<span class="panel-title">General Information</span>
				<div class="pull-right">
					@Html.Partial("~/Views/Shared/_PanelControls.cshtml")
				</div>
			</div>
			<div id="dataViewMainInfo" class="panel-body" data-validation="name">
				<form name="updateDataView" ng-submit="vm.update(updateDataView.$valid)" novalidate>

					<div class="form-group">
						<label for="inputName" class="col-sm-2 control-label">Name *</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputName" name="Name" size="4" placeholder="Name (Required)" value="" autofocus ng-model="updateDataView.Name" ng-maxlength="500" ng-class="{ 'parsley-error': updateDataView.Name.$dirty && updateDataView.Name.$invalid||updateDataView.$submitted && updateDataView.Name.$invalid}" required>
							<!--validation-->
							<ng-messages for="updateDataView.Name.$error" class="parsley-errors-list filled parsley-required" role="alert">
								<div ng-include src="'validation'"></div>
							</ng-messages>
						</div>
					</div>

					<div class="form-group">
						<label for="inputDataViewId" class="col-sm-2 control-label">Data View ID *</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputDataViewId" name="DataViewId" placeholder="Data View ID (Required)" value="" ng-model="updateDataView.DataViewId" ng-maxlength="500" ng-class="{ 'parsley-error': updateDataView.DataViewId.$dirty && updateDataView.DataViewId.$invalid||updateDataView.$submitted && updateDataView.DataViewId.$invalid}" required>
							<!--validation-->
							<ng-messages for="updateDataView.DataViewId.$error" class="parsley-errors-list filled parsley-required" role="alert">
								<div ng-include src="'validation'"></div>
							</ng-messages>
						</div>
					</div>

					<div class="form-group">
						<label for="inputRelatedDataViews" class="col-sm-2 control-label">Related Data Views</label>
						<div class="col-sm-10">
							<select class="form-control" id="inputRelatedDataViews" name="RelatedDataViews" placeholder="RelatedDataViews" value="" multiple ng-model="updateDataView.RelatedDataViews" ng-options="updateDataView.RelatedDataViews as RelatedDataViews.Name for RelatedDataView in relatedDataViews"></select>
							<!--validation-->
							<ng-messages for="updateDataView.RelatedDataViews.$error" class="parsley-errors-list filled parsley-required" role="alert">
								<div ng-include src="'validation'"></div>
							</ng-messages>
						</div>
					</div>

					<div class="form-group dark">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="btn-group">
								<button type="submit" class="btn btn-primary btn-flat" ng-disabled="isSaving" data-loading-text="<i class='fa fa-fw fa-spinner fa-spin'></i> Saving...">Update Data View</button>
							</div>
							&nbsp;
							<a href="@Html.Raw(Url.RouteUrl("DataViewDetailsDisplay"))" class="btn btn-default reset">Cancel</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>